/* general & arrangement */

html,
body {
  height: 100%;
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
}

.body-container {
  /* make the page have empty sides */
  width: 80%;
}

.greeting,
form {
  padding-left: 220px;
}

.greeting {
  padding-top: 90px;
}

form {
  padding-top: 70px;
}

/* navbar */

.navbar {
  font-size: 0.85rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-top: 20px;
}

.navbar .logo {
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar svg {
  height: 20px;
  width: auto;
  transform: translateX(-7px) rotate(45deg);
}

.navbar-items a {
  color: black;
}

.navbar-items a:not(:first-child) {
  margin-left: 30px;
}

/* underline on hover */

.navbar-items a {
  position: relative;
  display: inline-block;
}

.navbar-items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 1.5px;
  background-color: black;
  transition: width 0.15s ease-in-out;
}

.navbar-items a:hover::before {
  width: 100%;
}

/* greeting */

.greeting {
  font-size: 2rem;
}

/* form */

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-container {
  width: 90%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.form-container:nth-child(6) {
  /* moves submit button to the bottom */
  grid-column: 1;
}

.form-label {
  font-size: 0.85rem;
  display: block;
  margin-bottom: 7px;
}

.error-message,
.email-error,
.country-error {
  color: red;
  font-size: 0.7rem;
  opacity: 0;
}

.show {
  opacity: 1;
}

input {
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

input:focus {
  border: 1px solid rgb(209, 209, 209);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.15);
  font-family: "Outfit", sans-serif;
  font-size: 0.85rem;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  height: 45px;
  padding-left: 15px;
  margin-bottom: 7px;
  background-color: rgba(0, 0, 0, 0.025);
}

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size: 0.85rem;
}

input[type="submit"]:hover {
  background-color: #353535;
}

svg.submit-icon {
  fill: white;
  height: 16px;
  width: auto;
  transform: translate(43px, -27px);
}

/* country dropdown */

select {
  /* same style as the inputs */
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  height: 45px;
  padding-left: 15px;
  margin-bottom: 7px;
  background-color: rgba(0, 0, 0, 0.025);
  color: rgba(0, 0, 0, 0.15);
}

select:focus {
  color: black;
}

option {
  font-size: 1rem;
}
